@import "tailwindcss";

:root{
  --primary: #3B82F6;
  --secondary: #F97316;
  --accent: #10B981;
  --bg: #ffffff;
  --card-bg: #FFFFFF;
  --text-primary: #585858;
  --text-secondary: #717171;
  --border: #D1D5DB;
  --primary-hover :#2a73ea;
}

@theme{
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent:var(--accent);
  --color-bg: var(--bg);
  --color-card-bg:var(--card-bg);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);
  --color-primary-hover :var(--primary-hover);
}


.dark {
  --primary: #3B82F6;
  --secondary: #F97316;
  --accent: #10B981;
  --bg: #111827;
  --card-bg: #111645;
  --text-primary: #ffffff;
  --text-secondary: #e3e3e3;
  --border: #D1D5DB;
}


body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}